<ion-header>
  <ion-toolbar color="primary">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <ion-item>
      <ion-input
        label="Email"
        labelPlacement="floating"
        type="email"
        formControlName="email">
      </ion-input>
    </ion-item>
    <div class="error-message" *ngIf="email?.invalid && (email?.dirty || email?.touched)">
      <small *ngIf="email?.errors?.['required']">El email es obligatorio.</small>
      <small *ngIf="email?.errors?.['email']">Por favor, introduce un email válido.</small>
    </div>

    <ion-item>
      <ion-input
        type="password"
        label="contraseña"
        labelPlacement="floating"
        formControlName="password">
      </ion-input>
    </ion-item>
    <div class="error-message" *ngIf="password?.invalid && (password?.dirty || password?.touched)">
      <small *ngIf="password?.errors?.['required']">La contraseña es requerida.</small>
      <small *ngIf="password?.errors?.['minlength']">La contraseña debe tener al menos 4 caracteres.</small>
    </div>

    <ion-button 
      expand="block" 
      type="submit"
      class="ion-margin-top"
      [disabled]="loading || loginForm.invalid">
      <ng-container *ngIf="!loading">Iniciar sesión</ng-container>
      <ng-container *ngIf="loading">Cargando...</ng-container>
    </ion-button>
    
    <!-- Mostrar mensaje de error general -->
    <div class="error-message ion-text-center ion-margin-top" *ngIf="errorMessage">
      <small style="color: red;">{{ errorMessage }}</small>
    </div>
  </form>
</ion-content>